@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
  }

  #root {
    height: 100%;
  }

  ::-moz-selection {
    @apply bg-indigo-500 text-white;
  }

  ::selection {
    @apply bg-indigo-500 text-white;
  }
}
